@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing  @*для NavLink*@
@inject ILogger<NavigationBar> Logger




<div>
    <NavigationBar IsAuthorized="false" />
    <div class="div-body ">
        @Body
    </div>
    
</div>

@code{
    
}