@page "/"
@* <PageTitle>Хранилище - главная</PageTitle> *@
<PageTitle>НеТеряЙ - главная</PageTitle>
<h2 class="container-centered">
	Привет, <UsersLabel />
</h2>
<div>
	<div>
		У каждого человека есть вещи которые он куда-то положит, а потом когда они нужны не может найти.
	</div>
	<div>
		"НеТеряЙ" - интуитивное веб-приложение, которое предоставляет вам простой и удобный способ
		организации и отслеживания всех ваших вещей. Оно поможет вам эффективно управлять предметами, сохраняя
		их названия, фотографии и места их хранения.
	</div>
	<div>
		Простая форма ввода и мощная функция поиска позволят легко найти нужные вам предметы и увидить где они находятся.
	</div>

	<h3>
		Основные возможности:
	</h3>
	<ol>
		<li>
			Добавление предметов
			<ul>
				<li>
					Введите название предмета.
				</li>
				<li>
					Загрузите фотографию предмета для более удобной идентификации.
				</li>
				<li>
					Укажите место хранения предмета, например, в доме, в спальне, на определенной полке или в шкафу.
				</li>
			</ul>
		</li>
		<li>
			Поиск предметов:
			<ul>
				<li>
					Используйте функцию поиска для быстрого доступа к нужным вещам.
				</li>
				<li>
					Поиск осуществляется по названию предмета или месту его хранения.
				</li>
			</ul>
		</li>
		<li>
			Отображение места хранения:
			<ul>
				<li>
					При поиске предмета вы увидите его фотографию и место, где он хранится.
				</li>
				<li>
					Визуализация помогает быстро найти предмет в вашем доме или офисе.
				</li>
			</ul>
		</li>
		<li>
			Удобное управление:
			<ul>
				<li>
					Возможность добавлять, редактировать и удалять предметы по вашему усмотрению.
				</li>
				<li>
					Полная контроль над вашими вещами для лучшей организации и удобства использования.
				</li>
			</ul>
		</li>
	</ol>
	<h3>
		Начните управлять своими вещами прямо сейчас с нашим удобным веб-приложением!
	</h3>

</div>



@code {
	

}